{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='{% static "css/index.css" %}' rel='stylesheet' />
    <title>Document</title>
</head>
<body>
    <div class='container'>
        <div class="column-side">
            <div class='sidebar-menu'>
                <a href="/">
                    Home
                </a>
            </div>
            <div class='sidebar-menu'>
                <a href="/user/{{request.user.id}}">
                    Profile
                </a>
            </div>
            <div class='sidebar-menu'>
                <a href="/notifications/">
                    Notifications <span class='badge'>{{notifications|length}}</span>
                </a>
            </div>
        </div>

        <div class="column-main">
            <header>
                <h1>{{ request.user.username }}'s HomePage</h1>
                
                <div class='tweet-header'>
                    <div class='profile-pic'>
                        <img /> 
                    </div>
                    <div class="submission-container">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input class="tweet-submit" type="submit" value="Tweet">
                        </form>
                    </div>
                </div>
            </header>

            <div class="tweet-container">
                {% for tweet in tweets %}
                    <div class="tweet card">
                        <header>
                            <a href="/user/{{tweet.created_by.id}}">
                                @{{ tweet.created_by.username }}
                            </a>
                        </header>
                        <div>
                            {{ tweet.text }} 
                        </div>
                        <footer>
                            <a href="/tweet/{{tweet.id}}">
                                Tweet
                            </a>, 
                            {{tweet.created_at}}
                        </footer>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="column-side">
            {% for user in users %}
                {% if user.id != request.user.id %}
                    <a href="/user/{{user.id}}" />  
                        <div class="card user-container">
                            <header>
                                {{user.username}}
                            </header>
                            <footer>
                                {{user.following.count}}
                            </footer>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>