{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='{% static "css/tweet-detail.css" %}' rel='stylesheet' />
    <title>Document</title>
</head>
<body>
    <div class='container'>
        <div class="tweet">
            <header>
                Tweeted by: @{{tweet.created_by.username}}, at 
                {{tweet.created_at}}
            </header>
            <div class="tweet-text">
                {{tweet.text}}
            </div>
        </div>
    </div>
</body>
</html>